/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-cards: #f5f7fa;
  --vt-c-white-modal: #e9edf2;

  --vt-c-black: #121212;
  --vt-c-black-cards: #1e1e1e;
  --vt-c-black-modal: #2a2a2a;

  --vt-c-indigo: #2c3e50;
  --vt-c-green: #00c389;
  --vt-c-red: #c22a00;

  --vt-c-divider-light-1: rgba(0, 0, 0, 0.1);
  --vt-c-divider-light-2: rgba(0, 0, 0, 0.16);
  --vt-c-divider-light-3: rgba(0, 0, 0, 0.22);
  --vt-c-divider-dark-1: rgba(255, 255, 255, 0.08);
  --vt-c-divider-dark-2: rgba(255, 255, 255, 0.14);
  --vt-c-divider-dark-3: rgba(255, 255, 255, 0.2);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-cards: var(--vt-c-white-cards);
  --color-background-modal: var(--vt-c-white-modal);

  --color-border: var(--vt-c-divider-light-1);
  --color-border-hover: var(--vt-c-divider-light-2);
  --color-divider: var(--vt-c-divider-light-3);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --color-correct: var(--vt-c-green);
  --color-wrong: var(--vt-c-red);

  --section-gap: 32px;

  --border-radius: 8px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-cards: var(--vt-c-black-cards);
    --color-background-modal: var(--vt-c-black-modal);

    --color-border: var(--vt-c-divider-dark-1);
    --color-border-hover: var(--vt-c-divider-dark-2);
    --color-divider: var(--vt-c-divider-dark-3);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
  color: var(--color-heading);
  font-family: 'Rubik Mono One', monospace;
  font-weight: 400;
  font-style: normal;
}
