@import './base.css';

#app {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: var(--color-link);
  transition:
    color 0.3s,
    background-color 0.3s;
  padding: 3px;
}

a {
  border-radius: var(--border-radius);
}

@media (hover: hover) {
  a:hover {
    color: var(--color-link-hover);
    background-color: var(--color-link-hover-background);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    flex-direction: column;
    place-items: center;
  }
}
